body{
    height: 100vh;
    overflow: hidden;
}
#head{
    color: #0e7545;
    text-decoration: underline ;
}
span{color: #0e7545;font-weight: bold;}
img{
    width: 50px;
    height: 50px;
}
.ol-btn{
    display: block;
}
.open-btn{
    display: none;
}
.colse-btn{
    display: block;
    z-index: 999;
}
nav{
    padding: 5px 10px;
    background-color: #f0f0f0;
}
.ol{
   position: relative;
    padding: 0 50px;
    background-color: #0e7545;
    color: #fff;
    font-weight: 600;
    margin: 0;
    max-height: 100vh;
    overflow:auto;
    padding-bottom: 200px;
    z-index: 999;
    transition-duration: 0.6s;
    border-top-right-radius: 3px;
}
.ol-btn{
    display: block;
}
.x-btn{
    position: fixed;
    top: 59px;
    left: 170px;
    color: #fff;
    font-weight: 600;
}
.plus{
    position: fixed;
    bottom:15px;
    right: 95px;
    border-radius: 50%;
    width:35px;
    height:35px;
    font-weight: 900;
}
.minize{
    position: fixed;
    bottom:15px;
    right: 55px;
    border-radius: 50%;
    width:35px;
    height:35px;
    font-weight: 900;
}
.sub-2{
    height: 90vh;
    overflow: scroll; 
    overflow-x: hidden;
    margin: auto;
    margin-top: 70px;
    padding:0 50px;
}
.sub-3{
    width: 100%;
    height: 100px;
}
li{
    border-bottom: 1px solid white;
    cursor: pointer;
}
input{
    height: 35px;
    border: 1px solid #0e7545;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    border-right: none;
    outline: none;
    padding: 0 5px;
}
.search{
    padding: 0px 10px;
    height: 35px;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
}
::-webkit-scrollbar {
    width: 5px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(187, 186, 186); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(160, 159, 159); 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0; 
  }
  
  /* Style for the audio player container */

  .audio div{
    position: fixed;
    top: 62px;
    width: 90vw;
    display: flex;
    left: 200px;
    justify-content: space-between  ;
  }
  .audio div audio{
    width: 48%;
  }

  /* Style for the audio controls */

/* First Row */
/* Style for the default audio controls */
audio::-webkit-media-controls-panel {
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Style for the play/pause button, time indicators, and volume controls in the first row */
  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display,
  audio::-webkit-media-controls-volume-slider::-webkit-media-controls-volume-slider-container {
    width: 100%;
  }
  
  audio::-webkit-media-controls-play-button {
    background-color: #0e7545;
    color: white;
    border-radius: 20px;
  }
  
  audio::-webkit-media-controls-volume-slider::-webkit-media-controls-mute-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  /* Second Row */
  /* Style for the time track in the second row */
  audio::-webkit-media-controls-timeline {
    height: 10%;
    border-radius: 5px;
    position: relative;
    top: 15px;
  }
  
  /* Style for the buffered part of the time track in the second row */
  audio::-webkit-media-controls-timeline-container::-webkit-media-controls-timeline-buffer {
    border-radius: 5px;
  }
  
  /* Style for the thumb of the time track (drag handle) in the second row */
  audio::-webkit-media-controls-timeline-container::-webkit-media-controls-timeline-thumb {
    width: 120px;
    height: 40px;
    border-radius: 50%;
  }
  
.down,.top{
    position: fixed;
    bottom: 15px;
    right: 10px;
    border-radius: 50%;
    border: none;
    width:40px;
    height:40px;
    cursor: pointer;
    transition-duration: 0.1s;
}
.top{
    bottom: 60px;
}
.top:hover,
.down:hover {
    background-color: #0e7545;
    color: #fff;
    transform: scale(1.2);
    transition-duration: 0.1s;
}
.top:hover svg,
.down:hover svg{
    fill: #fff;
}
.page{
    margin-bottom: 2rem;
}
svg:hover{
    fill: #fff;
}
.toggle{
    position: fixed;
    top: 68px;
    left: 2px;
    
}
/*language*/
.language-btn{
    border: none;
    
}
.language-btn svg{
    fill: #0e7545;
    width: 40px;
    height: 40px;
}
.language-list{
    position: absolute;
    top: 50px;
    background-color: #f0f0f0;
    z-index: 9999;
    display: none;
    opacity: 0.9;
}
.language-list ul{
    margin: 0;
    padding: 5px 40px;
    background-color: #0e7545;
    color:#fff;
    border-radius: 5px;
    right: 20px;
    font-weight: 700;
}
.language-list ul li{
    list-style: none;
    border: none;
    margin-top: 5px;
    
}

@media (max-width:1500px) {
    .sub-2{
        padding: 10px;
    }
}

@media (max-width: 1000px) {
    .ol-btn{
        display: none;
    }

    .open-btn{
        display: none;
    }
    .colse-btn{
        display: none;

    }
    .ol{
        position: absolute;
        top: 60px;
        left: 0;
        transition-duration: 0.6s;
    }
    .sub-2{
        margin-top: 50px;
        padding: 10px;
    }
    .shik{
        font-size: 14px;
    }
    .toggle{
        top: 64px;
    }
    .audio div{
        width: 95vw;
        left: 45px;
        justify-content: start;
      }
      .audio div audio{
        height: 45px;
        width: 44vw;
      }
 
    ::-webkit-scrollbar {
        width: 0px; 
      }
    input{
        width: 100px;
        font-size: 0.7rem;
    }

}

@media (min-width: 1000px) {
    .open-btn{
        display: none;
    }
    #btnTop{
        display: none;
    }
    #closeBtn{
        display: none;
    }
   
}
@media (max-width:340px) {
    input{
        width: 30vw;
    }
}